.contact {
  padding-top: 100px;
  background: #21252b;
  color: white;
  text-shadow: 0 0 10px black;
  text-align: center;
}

@media (max-width: 767px) {
  .contact {
    padding: 10px;
  }
}

.contact-header {
  text-transform: uppercase;
  font-size: 30px;
}

.contact-paragraph {
  line-height: 1.5;
}

@media (max-width: 767px) {
  .contact-header {
    font-size: 25px;
  }
}

.contact-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-inner-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

@media (max-width: 767px) {
  .contact-inner {
    flex-wrap: wrap;
  }
}

.contact-icon {
  height: 35px;
}

.contact-icon-telephone {
  margin-right: 5px;
  height: 35px;
}

@media (max-width: 767px) {
  .contact-icon {
    margin-left: 3px;
    margin-right: 3px;
  }
}

.contact-link {
  text-decoration: none;
  color: #08a9f1;
  font-size: 24px;
}

@media (max-width: 767px) {
  .contact-link {
    font-size: 18px;
  }

  .contact-icon-telephone {
    margin-right: 10px;
  }
}

.contact-fields-container {
  justify-content: center;
  margin: 30px;
}

.contact-field {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #fff;
  width: 500px;
  height: 50px;
  margin: 10px;
  box-shadow: 0 0 5px #ccc;
  transition: 0.3s;
}

.contact-field:hover {
  box-shadow: 0 0 13px #ccc;
}

.contact-fields {
  justify-content: center;
}

.contact-button {
  height: 40px;
  width: 100px;
  background: white;
  color: black;
  border: 1px white;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 0 10px #ccc;
}

.contact-button:hover {
  color: white;
  box-shadow: 0 0 10px #08a9f1;
  background: #08a9f1;
}

.contact-field-textarea {
  height: 200px;
  resize: vertical;
  width: 500px;
}

.contact-field::placeholder {
  color: rgb(148, 148, 148);
  text-align: center;
}

.contact-field-textarea::placeholder {
  vertical-align: middle;
  text-align: center;
  line-height: 184px;
}

.contact-field-textarea::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
