.footer-icon {
  height: 14px;
  margin-left: 10px;
  background: white;
  border-radius: 50%;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #21252b;
  color: gray;
  font-size: 14px;
  padding: 3px;
}

@media (max-width: 767px) {
  .footer-icon {
    height: 12px;
  }

  .footer-container {
    font-size: 12px;
  }
}
