.footer-icon {
  height: 18px;
  margin-left: 10px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 50%;
}

.footer-container {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ccc;
  background: #21252b;
  padding: 5px;
}
