.services {
  padding: 100px;
  background: url(../img/services.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .services {
    padding: 50px;
  }
}

.services-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  text-shadow: 0 0 10px black;
  color: white;
}

@media (max-width: 767px) {
  .services-header {
    font-size: 25px;
    margin: 0;
  }
}

.offer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px;
  gap: 20px;
  padding: 100px;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .offer-container {
    width: 100%;
  }
}

.box {
  position: relative;
  background: #fff;
  padding: 20px 40px 40px;
  text-align: center;
  overflow: hidden;
  border-radius: 20px;
  transition: 0.3s;
}

.box:hover {
  cursor: pointer;
}

.box:hover {
  transform: scale(1.05);
}

.box:nth-child(1) {
  background: linear-gradient(45deg, #eeb71fe8, #f08f11cc);
  box-shadow: 0 5px 10px #eeb71fe8;
}

.box:nth-child(2) {
  background: linear-gradient(45deg, #f08f11cc, #ff559c);
  box-shadow: 0 5px 10px #f08f11dc;
}

.box:nth-child(3) {
  background: linear-gradient(45deg, #ff026cd5, #ff559cd7);
  box-shadow: 0 5px 10px #ff026cd5;
}

.box-header {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 100px;
  color: #fff;
  opacity: 0.4;
  position: relative;
}

.box-third-header {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}

.box-paragraph {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
}

.box-link {
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px white;
  background: rgba(255, 255, 255, 0.753);
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 0 0 10px #ccc;
}

.box-link:hover {
  background: white;
}
