.articles {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.articles__header {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  text-shadow: 0 0 10px black;
}

@media (max-width: 767px) {
  .articles__header {
    font-size: 25px;
    margin: 0;
  }
}

.articles__paragraph {
  line-height: 1.9;
  color: white;
  font-size: 18px;
  text-shadow: 0 0 10px black;
  padding-bottom: 15px;
}

@media (max-width: 767px) {
  .articles__paragraph {
    font-size: 16px;
    line-height: 1.5;
  }
}

.articles__link {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  transition: 0.3s;
  border-radius: 50px;
}

.articles__link:hover {
  box-shadow: 0 0 5px #249be5;
  color: #249be5;
  border: 1px solid #249be5;
}
