.contact {
  padding-top: 100px;
  background: #21252b;
  color: white;
  text-shadow: 0 0 10px black;
  text-align: center;
}

@media (max-width: 767px) {
  .contact {
    padding: 10px;
  }
}

.contact-header {
  text-transform: uppercase;
  font-size: 30px;
}

.contact-paragraph {
  line-height: 1.5;
}

@media (max-width: 767px) {
  .contact-header {
    font-size: 25px;
  }
}

.contact-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-inner-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

@media (max-width: 767px) {
  .contact-inner {
    flex-wrap: wrap;
  }
}

.contact-icon {
  height: 45px;
  margin-right: 6px;
}

.contact-icon-telephone {
  margin-right: 5px;
  height: 35px;
}

@media (max-width: 767px) {
  .contact-icon {
    height: 25px;
    margin-right: 7px;
  }
}

.contact-link {
  text-decoration: none;
  color: #08a9f1;
  font-size: 20px;
}

@media (max-width: 767px) {
  .contact-link {
    font-size: 16px;
  }

  .contact-icon-telephone {
    margin-right: 10px;
  }
}

.contact-fields-container {
  justify-content: center;
  margin: 20px;
}

.contact-field {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  width: 500px;
  height: 50px;
  margin: 10px;
  box-shadow: 0 0 5px #ccc;
  transition: 0.3s;
}

.contact-field:hover {
  box-shadow: 0 0 10px #ccc;
}

.contact-field:focus {
  -webkit-box-shadow: 0px 0px 13px #249be5;
  -moz-box-shadow: 0px 0px 13px #249be5;
  box-shadow: 0px 0px 13px #249be5;
  border: 1px solid #249be5;
}

.contact-fields {
  justify-content: center;
}

.contact-button {
  height: 40px;
  width: 100px;
  background: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
  margin: 5px;
}

.contact-button:hover {
  box-shadow: 0 0 5px #249be5;
  color: #249be5;
  border: 1px solid #249be5;
}

.contact-field-textarea {
  height: 200px;
  resize: none;
  resize: vertical;
  width: 500px;
}

.contact-field::placeholder {
  color: rgb(148, 148, 148);
  text-align: center;
}

.contact-field-textarea::placeholder {
  vertical-align: middle;
  text-align: center;
  line-height: 184px;
}

.contact-field-textarea::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.contact-fields {
  display: flex;
}
