.footer-icon {
  height: 12px;
  margin-left: 10px;
  background: white;
  border-radius: 50%;
  display: block;
}

.footer-container {
  display: flex;
  justify-content: center;
  background: #21252b;
  color: #27a9f1;
  font-size: 12px;
  margin-bottom: 3px;
}

@media (max-width: 767px) {
  .footer-icon {
    height: 12px;
  }

  .footer-container {
    font-size: 12px;
  }
}
