.main-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-page__link {
  position: absolute;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 22px;
  border: 2px solid white;
  font-weight: bold;
  border-radius: 50px;
  color: white;
  padding: 20px 50px;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  animation: mainButton 1s ease 0s normal none;
}

.main-page__link:hover {
  background: rgba(0, 0, 0, 0.74);
  color: rgb(255, 255, 255);
  border: 2px solid white;
}

@media (max-width: 991px) {
  .main-page__link {
    padding: 15px 35px;
    font-size: 18px;
  }
}

.slider {
  overflow: hidden;
}

.slider-figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 25s slider infinite;
}

.slider-image {
  width: 20%;
  float: left;
  object-fit: cover;
  background-size: cover;
  display: block;
  height: 100vh;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
}

/* main page button animation */

@keyframes mainButton {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
