.up {
  background: url(/img/up.svg);
  height: 40px;
  width: 40px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  transition: 0.3s;
  opacity: 0.6;
}

.up:hover{
    transform: scale(1.1);
}

@media (max-width:767px){
    .up{
        width: 25px;
        height: 25px;
        right: 15px;
        bottom: 15px;
    }
}