.articles-container {
  background: #21252b;
}

.articles-header {
  color: #27a9f1;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding-top: 150px;
}

@media (max-width: 767px) {
  .articles-header {
    padding-top: 100px;
  }
}

.article-header {
  color: #27a9f1;
}

@media (max-width: 767px) {
  .article-header {
    text-align: center;
    padding-top: 25px;
  }
}

.article {
  padding: 50px;
  margin: 0 auto;
  width: 700px;
  color: white;
}

@media (max-width: 767px) {
  .article {
    width: 100%;
    padding: 0;
  }
}

.article-paragraph {
  text-align: justify;
  line-height: 1.9;
}

@media (max-width: 767px) {
  .article-paragraph {
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
  }
}

.article-paragraph-last {
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.plusy {
  color: #2ea043;
}

.minusy {
  color: #da3633;
}

.periodyzacja {
  color: #f9826c;
}

.trening {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #039be5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  user-select: none;
}

.trening1 {
  background: #039be5;
}

.trening2 {
  background: #d50000;
}

.trening3 {
  background: #e67c73;
}

.trening4 {
  background: #3f51b5;
}

.trening5 {
  background: #8e24aa;
}

.trening6 {
  background: #0b8043;
}

.trening11 {
  background: #F4511E;
}

.trening22 {
  background: #F6BF26;
}

.trening33 {
  background: #F4511E;
}

.trening44 {
  background: #F6BF26;
}

.trening55 {
  background: #D50000;
}

.trening66 {
  background: #E67C73;
}

.trening77 {
  background: #D50000;
}

.trening88 {
  background: #039BE5;
}

/* #F9826C orange*/
/* #2EA043 green */
/* #58C0DD blue */
/* #DA3633 red */
