.articles-container {
  background: #21252b;
}

.articles-header {
  color: #27a9f1;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding-top: 150px;
}

@media (max-width: 767px) {
  .articles-header {
    padding-top: 100px;
  }
}

.article-header {
  color: #27a9f1;
}

@media (max-width: 767px) {
  .article-header {
    text-align: center;
    padding-top: 25px;
  }
}

.article {
  padding: 50px;
  margin: 0 auto;
  width: 700px;
  color: white;
}

@media (max-width: 767px) {
  .article {
    width: 100%;
    padding: 0;
  }
}

.article-paragraph {
  text-align: justify;
  line-height: 1.9;
}

@media (max-width: 767px) {
  .article-paragraph {
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
  }
}

.article-paragraph-last {
  margin-bottom: 0px;
}

.plusy {
  color: #2ea043;
}

.minusy {
  color: #da3633;
}

.periodyzacja {
  color: #f9826c;
}

/* #F9826C orange*/
/* #2EA043 green */
/* #58C0DD blue */
/* #DA3633 red */
