.articles-container {
  background: #21252b;
}

.articles-header {
  color: white;
  text-align: center;
  margin: 0;
  padding-top: 150px;
}

.article {
  padding: 50px;
  margin: 0 auto;
  width: 700px;
  color: white;
}

.article-paragraph {
  text-align: justify;
  line-height: 1.9;
}
